doctype html
html(lang='en')
  head
    title FlexIdx | Welcome
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="#203965")
    meta(name="theme-color", content="#203965")
    meta(name="msapplication-navbutton-color", content="#203965")
    link(rel="stylesheet", href="../css/main.css")

  body
    main.wrap-idx-content.idx-new-congratulations
      header#header
        .idx-content-header
          .idx-wrap-logo
            a(href="/", title="idxBoost").logo
              img(src="../images/logo.png", title="idxBoost", alt="idxBoost")
            button#btn-responsive: span
          #idx-wrap-responsive
            nav.idx-main-menu
              ul
                li: a(href="#", title="Wordpress IDX Features") Wordpress IDX Features
                li: a(href="#", title="FREE IDX Websites") FREE IDX Websites
                li: a(href="#", title="Partners") Partners
                li: a(href="#", title="Live Demo") Live Demo
                li.idx-right: a(href="#", title="Login") Login
                li.idx-btn-content.idx-right
                  button.idx-btn-site.icon-min-rocket
                    span Start Now
      .r-overlay

      section.idx-site-content
        h1.idx-order-2.idx-title Congratulations!
        p.idx-order-3
          strong Your new website is ready for setup. 
          |All we need is a few more details to get you up and running. Please choose one of the options below.
        ul.idx-order-4.idx-list-congratulations
          li
            span.icon-idx-assist
            h2 Assisted Setup
            p 
              strong Let one of our representatives help you. 
              span Just provide us with your information.
            .idx-payment-information
              .price 
                span $199.
                  label 00 
                |One Time Free

            a(href="#").idx-btn-site
              span I Agree, Continue to Set Up

          li
            span.icon-idx-video
            h2 Set It Up Yourself
            p 
              strong Visit our online video tutorial gallery. 
              |If you get
              span stuck along the way, just watch our tutorial videos.
            .idx-payment-information
              .price 
                span No Fees
            a(href="#").idx-btn-default
              span Set It Up Yourself
        span.idx-order-1.idx-info-header Your credit card has been charged a prorated fee of $43.00 covering the remainder of this month. Starting on the first of next month, your card will be charged $69.00 each month for the IDX fee and any applicable MLS system fees.
        span.idx-order-5.idx-info-footer You can always edit your website information later on from your control panel. Just login into idxboost.com with your email and password and continue your setup at your convenience.

      footer#footer.idx-internal-footer
        .idx-footer-top
          .idx-info-company
            a(href="/", title="idxBoost").logo
              img(src="../images/logo-footer.png")
            ul
              li 
                span Phone 
                a(href="tel:18003055000", title="1-800-305-5000") 1-800-305-5000
              li
                span Support Available
                span.idx-text-light from 9am - 5pm EST
                span.idx-text-light Monday - Friday
              li
                span Headquarters
                span.idx-text-light 2828 Coral Way #435
                span.idx-text-light Miami, FL 33145
          .idx-item-menu-footer
            h2 IDX Products
            ul
              li: a(href="#", title="Download IDX Rush") Download IDX Rush
              li: a(href="#", title="Websites with IDX Rush") Websites with IDX Rush
              li: a(href="#", title="Live Demos") Live Demos
              li: a(href="#", title="MLS Coverage") MLS Coverage
          .idx-item-menu-footer
            h2 Services
            ul
              li: a(href="#", title="About Us") About Us
              li: a(href="#", title="Partnership Program") Partnership Program
              li: a(href="#", title="Affiliate Brokers") Affiliate Brokers
              li: a(href="#", title="Blog") Blog
              li: a(href="#", title="Contact Us") Contact Us
              li: a(href="#", title="Support") Support
          .idx-social-media
            h2 Follow Us
            ul
              li: a(href="#", title="Facebook").icon-facebook: span Facebook 
              li: a(href="#", title="Twitter").icon-twitter: span Twitter
              li: a(href="#", title="Google Plus").icon-google: span Google Plus
              li: a(href="#", title="Youtube").icon-youtube: span Youtube
              li: a(href="#", title="Instagram").icon-instagram: span Instagram
              li: a(href="#", title="Linkedin").icon-linkedin: span Linkedin
              li: a(href="#", title="Pinterest").icon-pinterest: span Pinterest
        
        .idx-footer-bottom
          ul
            li: a(href="#", title="Terms & Conditions") Terms & Conditions
            li: a(href="#", title="Privacy Policy") Privacy Policy
            li: a(href="#", title="Sitemap") Sitemap
            li.idx-pc-show: a(href="#", title="IDX Terms") IDX Terms
          p All rights reserved © Copyright 2017 IDX Boost™
    script(type="text/javascript", src="../js/jquery-3.1.1.min.js")
    script(type="text/javascript", src="../js/jquery-ui.min.js")
    script(type="text/javascript", src="../js/dgt-project-master.js")