doctype html
html(lang='en')
  head
    title FlexIdx | Welcome
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="#203965")
    meta(name="theme-color", content="#203965")
    meta(name="msapplication-navbutton-color", content="#203965")
    link(rel="stylesheet", href="../css/main.css")

  body
    main.wrap-idx-content.idx-broker-page
      header#header
        .idx-content-header
          .idx-wrap-logo
            a(href="/", title="idxBoost").logo
              img(src="../images/logo.png", title="idxBoost", alt="idxBoost")
            button#btn-responsive: span
          #idx-wrap-responsive
            nav.idx-main-menu
              ul
                li: a(href="#", title="Wordpress IDX Features") Wordpress IDX Features
                li: a(href="#", title="FREE IDX Websites") FREE IDX Websites
                li: a(href="#", title="Partners") Partners
                li: a(href="#", title="Live Demo") Live Demo
                li.idx-right: a(href="#", title="Login") Login
                li.idx-btn-content.idx-right
                  button.idx-btn-site.icon-min-rocket
                    span Start Now
      .r-overlay


      .idx-partner-content
        header.header-main
          h1 Broker Affiliate Program
          p The IDX Boost Affiliate Broker Program is designed to give you all the tools your agents need to thrive with no upfront cost.
          img(src="../images/broker.jpg")
          button.btn-down Scroll for more
            span.icon-chevron
      
      .idx-content-box
        .idx-box-lateral-a
          .idx-box-a
            h2 Broker Affiliate Program
            
            p Our team of designers and engineers will create a beautiful, custom theme specifically branded for your brokerage. Once the theme is ready, your agents will be able to personalize the themes and have their own sites up within minutes.
            
            h3 Take full advantage of our program:
            
            ul
              li Free websites for all your agents
              li Promote your agency brand
              li Facilitate your agents with marketing tools
              li Create backlinks to your office website
              li Automated email engagement
              li Easy-to-use WordPress interface

            p An IDX Boost website is a great way to promote your brand and signal to your customers that you’re ahead of the game.

            p The best part is, we’ll waive the setup fees and give your agents a discount on the hosting and IDX fee. Bottom line: Your agents will only pay $59/month for an advanced website, with no annual contract. It’s a no-brainer. And we're here to help answer any questions you might have. 
            
        
        .idx-box-lateral-b
          .idx-box-b
            h2 Let’s Chat!
            p Want to know more about become an IDX partner?
            form(action="", method="post").idx-form
              ul
                li
                  label Fist Name
                  input(type="text", name="", id="")
                li
                  label Last Name
                  input(type="text", name="", id="")
                li
                  label Phone
                  input(type="text", name="", id="")
                li
                  label Email
                  input(type="email", name="", id="")
                li
                  label Comments
                  textarea

              .idx-box-btn
                button.idx-btn-site
                  span Submit
      
      #idx-testimonials-content
        #slider-testimonial.slider-standar
          ul
            li 
              .item-testimonial “IDX Boost is a breath of fresh air! Since I got my website it’s been so easy to add pages and it’s even ranking on google now!”
                span Amanda Smith
            li 
              .item-testimonial “IDX Boost is a breath of fresh air! Since I got my website it’s been so easy to add pages and it’s even ranking on google now!”
                span Amanda Smith
            li 
              .item-testimonial “IDX Boost is a breath of fresh air! Since I got my website it’s been so easy to add pages and it’s even ranking on google now!”
                span Amanda Smith
          .nav
            .bullets
            .next-prev
              button.prev: span.icon-arrow
              button.next: span.icon-arrow

      footer#footer.idx-internal-footer
        .idx-footer-top
          .idx-info-company
            a(href="/", title="idxBoost").logo
              img(src="../images/logo-footer.png")
            ul
              li 
                span Phone 
                a(href="tel:18003055000", title="1-800-305-5000") 1-800-305-5000
              li
                span Support Available
                span.idx-text-light from 9am - 5pm EST
                span.idx-text-light Monday - Friday
              li
                span Headquarters
                span.idx-text-light 2828 Coral Way #435
                span.idx-text-light Miami, FL 33145
          .idx-item-menu-footer
            h2 IDX Products
            ul
              li: a(href="#", title="Download IDX Rush") Download IDX Rush
              li: a(href="#", title="Websites with IDX Rush") Websites with IDX Rush
              li: a(href="#", title="Live Demos") Live Demos
              li: a(href="#", title="MLS Coverage") MLS Coverage
          .idx-item-menu-footer
            h2 Services
            ul
              li: a(href="#", title="About Us") About Us
              li: a(href="#", title="Partnership Program") Partnership Program
              li: a(href="#", title="Affiliate Brokers") Affiliate Brokers
              li: a(href="#", title="Blog") Blog
              li: a(href="#", title="Contact Us") Contact Us
              li: a(href="#", title="Support") Support
          .idx-social-media
            h2 Follow Us
            ul
              li: a(href="#", title="Facebook").icon-facebook: span Facebook 
              li: a(href="#", title="Twitter").icon-twitter: span Twitter
              li: a(href="#", title="Google Plus").icon-google: span Google Plus
              li: a(href="#", title="Youtube").icon-youtube: span Youtube
              li: a(href="#", title="Instagram").icon-instagram: span Instagram
              li: a(href="#", title="Linkedin").icon-linkedin: span Linkedin
              li: a(href="#", title="Pinterest").icon-pinterest: span Pinterest
        
        .idx-footer-bottom
          ul
            li: a(href="#", title="Terms & Conditions") Terms & Conditions
            li: a(href="#", title="Privacy Policy") Privacy Policy
            li: a(href="#", title="Sitemap") Sitemap
            li.idx-pc-show: a(href="#", title="IDX Terms") IDX Terms
          p All rights reserved © Copyright 2017 IDX Boost™
    script(type="text/javascript", src="../js/jquery-3.1.1.min.js")
    script(type="text/javascript", src="../js/jquery-ui.min.js")
    script(type="text/javascript", src="../js/dgt-project-master.js")