doctype html
html(lang='en')
	head
		title FlexIdx | Welcome
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="#203965")
		meta(name="theme-color", content="#203965")
		meta(name="msapplication-navbutton-color", content="#203965")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="css/animate.min.css")

		link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800&display=swap",rel="stylesheet")

	body.ms-new-theme
		main.idx-wrap-content
			header#header.active
				.idx-content-header
					.idx-wrap-logo
						a.logo(href='/', title='idxBoost')
							img(alt='idxBoost', src='images/new-home/logo.png', title='idxBoost')
						button#btn-responsive
							span
					#idx-wrap-responsive
						nav.idx-main-menu
							ul
								li.idx-item-sm
									a(href='javascript:void(0)', title='Real Estate Lead Generation') Real Estate Lead Generation
									ul.idx-sub-menu
										li
											a.idx-icon-pt.icon-dominate(href='/lead-generation/dominate') Dominate
										li
											a.idx-icon-pt.icon-generate(href='/lead-generation/generate') Generate
										li
											a.idx-icon-pt.icon-cproduct(href='/lead-generation') Compare Products
								li
									a(href='/real-estate-websites', title='Real Estate Websites') Real Estate Websites
								li
									a(href='#', title='CRM For Real Estate') CRM For Real Estate
								li
									a(href='/features', title='Features') Features
								li
									a(href='/support', title='Support') Support
								li.idx-item-sm
									a(href='javascript:void(0)', title='Live Demo') Live Demo
									ul.idx-sub-menu
										li
											a(href='https://demo.idxboost.com/', target='_blank') Basic
										li
											a(href='https://master.idxboost.com/', target='_blank') Advanced
								
								li.idx-btn-content.idx-right
									a.nb-button.idx-btn-site.icon-min-rocket(href='/schedule-demo')
										span Request Demo

								li.idx-right
									a(href='/login', title='Login')
										| Login
							
			section.ms-main.ms-animate.ms-dominate#welcome
				img(data-real-type="image", data-img="images/dominate/img_logo.png", alt="", src="images/temp.png").ms-lazy.ms-main-logo
				h1.ms-subtitle Branded Real Estate Websites, Integrated CRM 
					span & Strategic Lead Generation Program.

				.ms-wrap-btn
					button.ms-btn.btn-down-form(data-step="#request-demo"): span Request Demo
					button.ms-btn.btn-icon-play: span Watch Video

				.ms-wrap-img
					img(data-real-type="image", data-img="images/dominate/dominate.jpg", alt="", src="images/temp.png").ms-lazy

			section.ms-section.ms-animate#dominate-welcome
				h2.ms-bg-title “Dominate” Lead Generation Program For Real Estate
				ul.ms-dominate-skills
					li.ms-icon-pc: h3.ms-subtitle Website & 
						span Landing Pages
					li.ms-icon-lead: h3.ms-subtitle Lead 
						span Generation
					li.ms-icon-marketing: h3.ms-subtitle Social 
						span Media Marketing
					li.ms-icon-video: h3.ms-subtitle Interactive 
						span Video
					li.ms-icon-nurturing: h3.ms-subtitle Automated Lead 
						span Nurturing
					li.ms-icon-integrated: h3.ms-subtitle Integrated 
						span CRM
				p Dominate is complete real estate website and marketing strategy for the real estate industry. It covers all the tools needed to promote and grow your business online. From a fully customized real estate website to your own easy-to-use CRM tools and a constant incoming flow of new leads.


			section.ms-section.ms-animate.ms-dft-section#dominate-branded
				article.ms-article
					h2.ms-bg-title Branded real estate website with hyper-targeted pages
					p Branded to you and with hyper-targeted landing pages our innovative technology promotes you and your listings alike with integrated video and a personalized experience.
					ul
						li Branded Design
						li Hyper-Targeted Landing Pages
						li Integrated Video
				.ms-wrap-img
					.ms-pc-animate
						span.ms-pc(data-real-type="background", data-img="images/animaciones/animacion-pc/pc.png")
							span.ms-video
								img(data-real-type="image", data-img="images/dominate/giphy.gif", alt="", src="images/temp.png").ms-lazy
							span.ms-hand(data-real-type="background", data-img="images/animaciones/animacion-pc/pc.png")
							span.ms-bubble(data-real-type="background", data-img="images/animaciones/animacion-pc/pc.png")

			section.ms-section.ms-animate.ms-dft-section.ms-flex-reverse#dominate-market
					article.ms-article
						h2.ms-bg-title Dominate your market’s main keywords
						p Our team of Google Partner certified specialists will position your company’s ads on the top search engines, targeting buyers and sellers searching for your seed keywords.
						ul
							li Google Partners Certified Specialists
							li Strategic PPC Placing Strategies
							li Real Estate Industry Experts
						.ms-wrap-icon
							span.ms-google(data-real-type="background", data-img="images/dominate/icons.png")

					.ms-wrap-img
						.ms-pc-lupa
							span.ms-pc(data-real-type="background", data-img="images/animaciones/animacion-pc/lupa.png")
								span.ms-lupa(data-real-type="background", data-img="images/animaciones/animacion-pc/lupa.png")
								span.ms-search-box
									p.line-1 Homes for sale

			section.ms-section.ms-animate.ms-dft-section#dominate-boost-social
				article.ms-article
					h2.ms-bg-title Boost your social media exposure & engagement
					p Create a strong social media presence. Grow your following and promote your brand. Communicate an unrivaled expertise and superior experience while promoting your area listings.
					ul
						li Facebook and Instagram Custom Ads
						li Social Media Re-marketing
						li Grow Your Social Media Presence

				.ms-wrap-img
					.ms-pc-tablet
						span.ms-nebulosa(data-real-type="background", data-img="images/animaciones/animacion-pc/nebulosa.png")
						span.ms-pc(data-real-type="background", data-img="images/animaciones/animacion-pc/media.png")
						span.ms-logo-facebook(data-real-type="background", data-img="images/animaciones/animacion-pc/media.png")
						span.ms-logo-youtube(data-real-type="background", data-img="images/animaciones/animacion-pc/media.png")
						span.ms-logo-google(data-real-type="background", data-img="images/animaciones/animacion-pc/media.png")
						span.ms-logo-linkedin(data-real-type="background", data-img="images/animaciones/animacion-pc/media.png")
						span.ms-logo-instagram(data-real-type="background", data-img="images/animaciones/animacion-pc/media.png")

			section.ms-section.ms-animate.ms-dft-section.ms-flex-reverse#dominate-engage
				article.ms-article
					h2.ms-bg-title Engage your visitors with interactive video
					p Promote your listings and services through the use of viral video marketing, displaying it across the most used social media platforms and connecting you with your audience on a personal level.
					ul
						li Video Marketing
						li Social Media Exposure
						li Brand Recognition

				.ms-wrap-img
					.ms-wrap-slider#slider-video
						.ms-item
							img(data-real-type="image", data-img="images/new-home/04.png", alt="", src="images/temp.png").ms-lazy
						.ms-item
							img(data-real-type="image", data-img="images/new-home/04.png", alt="", src="images/temp.png").ms-lazy
						.ms-item
							img(data-real-type="image", data-img="images/new-home/04.png", alt="", src="images/temp.png").ms-lazy
						.ms-item
							img(data-real-type="image", data-img="images/new-home/04.png", alt="", src="images/temp.png").ms-lazy
						.ms-item
							img(data-real-type="image", data-img="images/new-home/04.png", alt="", src="images/temp.png").ms-lazy
			
			section.ms-section.ms-animate.ms-dft-section#dominate-nurturing
				article.ms-article
					h2.ms-bg-title Lead nurturing & automatic property alerts
					p Keep your visitors coming back and up-to-date with drip programs and smart property alerts. Track all your users interaction at with your powerful real estate CRM.
					ul
						li Automatic Smart Property Alerts
						li Custom Drip Campaigns
						li Track Your Visitors’ Intearctions

				.ms-phone
					span.ms-phone-a(data-real-type="background", data-img="images/animaciones/animacion-pc/phone.png")
					span.ms-phone-b(data-real-type="background", data-img="images/animaciones/animacion-pc/phone.png")
					span.ms-airplane(data-real-type="background", data-img="images/animaciones/animacion-pc/phone.png")

			section.ms-section.ms-animate.ms-dft-section.ms-flex-reverse#dominate-crm
				article.ms-article
					h2.ms-bg-title Modern & easy-to-use real estate CRMs.
					p Created for real estate with marketing in mind. IDXBoost’s real estate CRM brings all the tools you need to nurture and automate your prospecting process.
					ul
						li Drips, Buckets and Automations
						li To-Dos, Lead Qualifications and More
						li Track Visitors View Listings and Favorites

				.ms-wrap-img
					img(data-real-type="image", data-img="images/animaciones/animacion-pc/cpanel-dominate.png", alt="", src="images/temp.png").ms-lazy
			
		footer#footer
			.idx-footer-top
				.idx-info-company
					a(href="/", title="idxBoost").logo
						img(src="images/logo-footer.png")
					ul
						li
							span Support Available
							span.idx-text-light from 9am - 5pm EST
							span.idx-text-light Monday - Friday
						li
							span Headquarters
							span.idx-text-light 2828 Coral Way #435
							span.idx-text-light Miami, FL 33145
				.idx-item-menu-footer
					h2 IDX Products
					ul
						li: a(href="#", title="Download IDX Rush") Download IDX Rush
						li: a(href="#", title="Websites with IDX Rush") Websites with IDX Rush
						li: a(href="#", title="Live Demos") Live Demos
						li: a(href="#", title="MLS Coverage") MLS Coverage
				.idx-item-menu-footer
					h2 Company
					ul
						li 
							a(href="#", title="About Us") About Us
							a(href="#", title="About Us").idx-bg-special We're Hiring
						li: a(href="#", title="Partnership Program") Partnership Program
						li: a(href="#", title="Affiliate Brokers") Affiliate Brokers
						li: a(href="#", title="Blog") Blog
						li: a(href="#", title="Contact Us") Contact Us
						li: a(href="#", title="Support") Support
				.idx-social-media
					h2 Follow Us
					ul
						li: a(href="#", title="Facebook").icon-facebook: span Facebook 
						li: a(href="#", title="Twitter").icon-twitter: span Twitter
						li: a(href="#", title="Google Plus").icon-google: span Google Plus
						li: a(href="#", title="Youtube").icon-youtube: span Youtube
						li: a(href="#", title="Instagram").icon-instagram: span Instagram
						li: a(href="#", title="Linkedin").icon-linkedin: span Linkedin
						li: a(href="#", title="Pinterest").icon-pinterest: span Pinterest
			
			.idx-footer-bottom
				ul
					li: a(href="#", title="Terms & Conditions") Terms & Conditions
					li: a(href="#", title="Privacy Policy") Privacy Policy
					li: a(href="#", title="Sitemap") Sitemap
					li.idx-pc-show: a(href="#", title="IDX Terms") IDX Terms
				p All rights reserved © Copyright 2017 IDX Boost™
		
		.r-overlay

		script(type="text/javascript", src="js/jquery-3.1.1.min.js")
		script(type="text/javascript", src="js/jquery-ui.min.js")
		script(type="text/javascript", src="js/dgt-project-master.js")
		script(type="text/javascript", src="js/greatslider.jquery.min.js")
		script(type="text/javascript", src="js/main.min.js")