doctype html
html(lang='en')
	head
		title FlexIdx | Welcome
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="#203965")
		meta(name="theme-color", content="#203965")
		meta(name="msapplication-navbutton-color", content="#203965")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="css/animate.min.css")

	body
		main.idx-wrap-content
			header#header
				.idx-content-header
					.idx-wrap-logo
						a(href="/", title="idxBoost").logo
							img(src="images/logo.png", title="idxBoost", alt="idxBoost")
						button#btn-responsive: span
					#idx-wrap-responsive
						nav.idx-main-menu
							ul
								li: a(href="#", title="Wordpress IDX Features") Wordpress IDX Features
								li: a(href="#", title="FREE IDX Websites") FREE IDX Websites
								li: a(href="#", title="Partners") Partners
								li: a(href="#", title="Live Demo") Live Demo
								li.idx-right: a(href="#", title="Login") Login
								li.idx-btn-content.idx-right
									button.idx-btn-site.icon-min-rocket
										span Start Now

			.r-overlay

			.idx-wrap-description#idx-wrpa-slider
				.idx-slider-description.idx-resf
					h2 Welcome RELATED Agents
					p In a continuing effort to help you succeed, we're excited to offer you a powerful new website at no up-front cost to you. Thanks for the affiliation created with your broker now you can take advantage of a FREE website, and FREE hosting.
						span
							strong Just pay $59/mo for mls updates on your webite, no contracts!

					a(href="wizard/wizard_affiliate_1.html", title="Let’s get started!").idx-btn-site.icon-min-rocket: span Let’s get started!
					.idx-broker-logo
						img(src="images/resf/related-logo.png", alt="Resf")
				span.idx-shape.shape-left
				span.idx-shape.shape-right

				//#slider-main.slider-standar.fade-slider
						ul
							li.active
								img.bg-article(alt="Imagen", title="", src="images/resf/1.jpg")
						.nav
							.bullets
							.next-prev
								button.prev: span.icon-arrow
								button.next: span.icon-arrow
			
			.idx-wrap-section#idx-wp-customize
				.idx-wrap-description
					h2.idx-st-title Everything your real estate website needs
					p Yout RESF IDX Website come with everthing you need and seting it up couln’d be easier! A complex IDX search system that is super easy to use, create your own custom pages, is a full wordpress instalation. It aslo comes with our propiertary IDX Analytics and and automated email alert sytem.
				.idx-box-animation.idx-resf
					img(src="images/resf/pc.png", title="idxBoost", alt="FREE WordPress Websites With IDX")
					img(src="images/resf/cpanel-0.png", title="idxBoost", alt="FREE WordPress Websites With IDX").pc-img.idx-abs-img.left.idx-pc-show
					img(src="images/resf/cpanel-1.png", title="idxBoost", alt="FREE WordPress Websites With IDX").pc-img.idx-pc-show.center
					img(src="images/resf/cpanel-2.png", title="idxBoost", alt="FREE WordPress Websites With IDX").pc-img.idx-abs-img.right.idx-pc-show
				.idx-pc-show
					p Yout RESF IDX Website come with everthing you need and seting it up couln’d be easier! A complex IDX search system that is super easy to use, create your own custom pages, is a full wordpress instalation. It aslo comes with our propiertary IDX Analytics and and automated email alert sytem.
					a(href="wizard/wizard_affiliate_1.html", title="Let’s get started!").idx-btn-site.icon-min-rocket.extra-padding: span Let’s get started!
				span.idx-shape.shape-left

			.idx-wrap-section#idx-wp-mls
				.idx-wrap-description
					h2.idx-st-title The best MLS search in the galaxy
					p Start driving traffic to your online brand with the industry’s most advanced IDX solution. 
						span From draw-on-map searches to custom pages for neighborhoods and condo buildings, 
						| we give you the technology to keep your clients engaged.

				.idx-box-animation
					img(src="images/panel-0.png", title="idxBoost", alt="FREE WordPress Websites With IDX")
					img(src="images/panel-01.png", title="idxBoost", alt="FREE WordPress Websites With IDX").pc-img.idx-abs-img.left.idx-pc-show
					img(src="images/panel-02.png", title="idxBoost", alt="FREE WordPress Websites With IDX").pc-img.idx-pc-show.center
					img(src="images/panel-03.png", title="idxBoost", alt="FREE WordPress Websites With IDX").pc-img.idx-abs-img.right.idx-pc-show
					h3.idx-animation-text.left Draw on map 
						span searches that are 
						|out of this universe!
					h3.idx-animation-text.right Create custom 
						span neighborhood and 
						|condo pages
				.idx-pc-show
					p Start driving traffic to your online brand with the industry’s most advanced IDX solution. 
						span From draw-on-map searches to custom pages for neighborhoods and condo buildings, 
						| we give you the technology to keep your clients engaged.

			.idx-wrap-section#idx-cuztomizer-panel
				.idx-wrap-description
					h2.idx-st-title One-click editing. 
						span Unlimited options.
					p Simply click the customize button and effortlessly change colors, logos, text, and more in a matter of seconds. Our technology is so easy a flight test monkey could do it.
					a(href="wizard/wizard_affiliate_1.html", title="Let’s get started!").idx-btn-site.icon-min-rocket: span Let’s get started!
				.idx-box-animation
					img(src="images/customizer.png", title="idxBoost", alt="Easy to customize IDX Worpress Websites")
				span.idx-shape.shape-left
				span.idx-shape.shape-right

			.idx-wrap-section#idx-cpanel
				.idx-wrap-description
					h2.idx-st-title See what your visitors are searching for
					p With our simple visitor dashboard, you can see what properties they saved, neighborhoods 
						span and condo buildings they like, and what price range they want. You can even recommend 
						| other properties to them!

				.idx-box-animation
					img(src="images/b-admin.png", title="idxBoost", alt="See what your visitors are searching for")
					h3.idx-animation-text.left Track your visitors 
						span search beahior!
					h3.idx-animation-text.right View their saved 
						span homes & searches!

			.idx-wrap-section#idx-wp-site
				.idx-wrap-description
					h2.idx-st-title What makes IDX Boost 
						span different
					p We’ve spent a decade building complex, custom technology for top producers. Now we’re turning our most powerful product over to you for a fraction of the cost — free!
					a(href="wizard/wizard_affiliate_1.html", title="Let’s get started!").idx-btn-site.icon-min-rocket: span Let’s get started!
				.idx-box-animation
					img(src="images/bpc-site.png", title="idxBoost", alt="Easy to customize IDX Worpress Websites").idx-pc-show
					img(src="images/bpc-site-min.png", title="idxBoost", alt="Easy to customize IDX Worpress Websites")
					h3.idx-animation-text Powerful searches
						span and tools!
				span.idx-shape.shape-left
				span.idx-shape.shape-right

			.idx-wrap-section#idx-wp-pilot
				.idx-wrap-description
					h2.idx-st-title Set your marketing 
						span on autopilot
					p Nurturing relationships is key in the real estate business, but who has the time? IDX Boost  has you covered. We’ll notify your clients with updates about their favorite properties & changes on their saved searches.
				.idx-box-animation.idx-int-img
					img(src="images/pilot.png", title="idxBoost", alt="Set your marketing in auto pilot")
					h3.idx-animation-text Automatic property 
						span email alerts!
				span.idx-shape.shape-left
				span.idx-shape.shape-right
				span.idx-temporal-shape
				span.idx-shape-section

			.idx-wrap-section#idx-wp-rocket
				.idx-wrap-description
					h2.idx-st-title.icon-rocket Ready to turn on IDX Boost?
					p The sky’s the limit! Just click the launch button below and start 
						span selling more homes today!
					a(href="wizard/wizard_affiliate_1.html", title="Let’s get started!").idx-btn-site.icon-min-rocket: span Launch!

		footer#footer
			.idx-footer-top
				.idx-info-company
					a(href="/", title="idxBoost").logo
						img(src="images/logo-footer.png")
					ul
						li
							span Support Available
							span.idx-text-light from 9am - 5pm EST
							span.idx-text-light Monday - Friday
						li
							span Headquarters
							span.idx-text-light 2828 Coral Way #435
							span.idx-text-light Miami, FL 33145
				.idx-item-menu-footer
					h2 IDX Products
					ul
						li: a(href="#", title="Download IDX Rush") Download IDX Rush
						li: a(href="#", title="Websites with IDX Rush") Websites with IDX Rush
						li: a(href="#", title="Live Demos") Live Demos
						li: a(href="#", title="MLS Coverage") MLS Coverage
				.idx-item-menu-footer
					h2 Company
					ul
						li 
							a(href="#", title="About Us") About Us
							a(href="#", title="About Us").idx-bg-special We're Hiring
						li: a(href="#", title="Partnership Program") Partnership Program
						li: a(href="#", title="Affiliate Brokers") Affiliate Brokers
						li: a(href="#", title="Blog") Blog
						li: a(href="#", title="Contact Us") Contact Us
						li: a(href="#", title="Support") Support
				.idx-social-media
					h2 Follow Us
					ul
						li: a(href="#", title="Facebook").icon-facebook: span Facebook 
						li: a(href="#", title="Twitter").icon-twitter: span Twitter
						li: a(href="#", title="Google Plus").icon-google: span Google Plus
						li: a(href="#", title="Youtube").icon-youtube: span Youtube
						li: a(href="#", title="Instagram").icon-instagram: span Instagram
						li: a(href="#", title="Linkedin").icon-linkedin: span Linkedin
						li: a(href="#", title="Pinterest").icon-pinterest: span Pinterest
			
			.idx-footer-bottom
				ul
					li: a(href="#", title="Terms & Conditions") Terms & Conditions
					li: a(href="#", title="Privacy Policy") Privacy Policy
					li: a(href="#", title="Sitemap") Sitemap
					li.idx-pc-show: a(href="#", title="IDX Terms") IDX Terms
				p All rights reserved © Copyright 2017 IDX Boost™

		script(type="text/javascript", src="js/jquery-3.1.1.min.js")
		script(type="text/javascript", src="js/jquery-ui.min.js")
		script(type="text/javascript", src="js/dgt-project-master.js")