doctype html
html(lang='en')
	head
		title FlexIdx | Welcome
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="#203965")
		meta(name="theme-color", content="#203965")
		meta(name="msapplication-navbutton-color", content="#203965")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="css/animate.min.css")

		link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800&display=swap",rel="stylesheet")

	body.ms-new-theme.ms-home
		main.idx-wrap-content
			header#header
				.idx-content-header
					.idx-wrap-logo
						a.logo(href='/', title='idxBoost')
							img(alt='idxBoost', src='images/new-home/logo.png', title='idxBoost')
						button#btn-responsive
							span
					#idx-wrap-responsive
						nav.idx-main-menu
							ul
								li.idx-item-sm
									a(href='javascript:void(0)', title='Real Estate Lead Generation') Real Estate Lead Generation
									ul.idx-sub-menu
										li
											a.idx-icon-pt.icon-dominate(href='/lead-generation/dominate') Dominate
										li
											a.idx-icon-pt.icon-generate(href='/lead-generation/generate') Generate
										li
											a.idx-icon-pt.icon-cproduct(href='/lead-generation') Compare Products
								li
									a(href='/real-estate-websites', title='Real Estate Websites') Real Estate Websites
								li
									a(href='#', title='CRM For Real Estate') CRM For Real Estate
								li
									a(href='/features', title='Features') Features
								li
									a(href='/support', title='Support') Support
								li.idx-item-sm
									a(href='javascript:void(0)', title='Live Demo') Live Demo
									ul.idx-sub-menu
										li
											a(href='https://demo.idxboost.com/', target='_blank') Basic
										li
											a(href='https://master.idxboost.com/', target='_blank') Advanced
								
								li.idx-btn-content.idx-right
									a.nb-button.idx-btn-site.icon-min-rocket(href='/schedule-demo')
										span Request Demo

								li.idx-right
									a(href='/login', title='Login')
										| Login
							
			section.ms-main.ms-animate#welcome
				h1.ms-title Boost your leads. 
					span Close more deals.
				span.ms-subtitle Branded Real Estate Websites, CRM and Strategic 
					span Lead Generation Programs.
				.ms-wrap-btn
					button.ms-btn.btn-down-form(data-step="#request-demo"): span Request Demo
					button.ms-btn.btn-icon-play: span Watch Video

				.ms-wrap-img
					img(data-real-type="image", data-img="images/new-home/welcome.jpg", alt="", src="images/temp.png").ms-lazy

			section.ms-section.ms-animate#real-estate-solution
				h2.ms-bg-title All-In-One Marketing Real Estate Solution

				p IDXBoost provides complete solutions for 
					strong Real Estate Websites, CRM, and Lead Generation Programs 
					|for real estate professionals and brokerages alike. Our modern platform is design to cover all the mediums and tools needed to succeed in today’s complex ditial era. A combination of beautiful design, modern technology and easy to use interface.

				.ms-wrap-img
					.ms-pc-home
						span.ms-pc(data-real-type="background", data-img="images/animaciones/animacion-pc/pc-home.png")
							span.ms-video
								img(data-real-type="image", data-img="images/dominate/giphy.gif", alt="", src="images/temp.png").ms-lazy
							span.ms-bubble(data-real-type="background", data-img="images/animaciones/animacion-pc/pc-home.png")

			section.ms-section.ms-dg-bg.ms-animate#easy-to-use
				h2.ms-bg-title Modern & Easy-to-Use Real Estate CRM
				p Created for real estate professionals by marketing experts. IDXBoost’s powerful CRM 
					span brings all the tools you need to succeed and nurture your leads.

				.ms-wrap-img
					img(data-real-type="image", data-img="images/animaciones/animacion-pc/crm-home.png", alt="", src="images/temp.png").ms-lazy
					img(data-real-type="image", data-img="images/animaciones/animacion-pc/item-lead.png", alt="", src="images/temp.png").ms-lazy.ms-float-img

			section.ms-section.ms-animate#branded-design
				article.ms-article
					h2.ms-bg-title Branded design and custom landing pages
					p IDXBoost’s flexible design can be branded to create a unique digital presence for you. It’s not just another template. It’s customized to you, your brand, and your target audience.
					.ms-wrap-btn.ms-center
						a(href="#").ms-btn.ms-new-btn: span View Our Work

				.ms-wrap-img
					.ms-pc-video
						span.ms-pc(data-real-type="background", data-img="images/animaciones/animacion-pc/pc-home-video-skin.png")
							span.ms-mobile(data-real-type="background", data-img="images/animaciones/animacion-pc/pc-home-video-skin.png")
						span.ms-video
								img(data-real-type="image", data-img="images/dominate/giphy.gif", alt="", src="images/temp.png").ms-lazy

			section.ms-section.ms-animate#market-domination
				article.ms-article
					h2.ms-bg-title Market Domination from search to social
					p Generate leads from the top search engines and maximize your presence on the most used social media platforms. Our lead generation programs are designed to make you the authority on your market.
					.ms-wrap-btn
						a(href="#").ms-btn.ms-std-btn: span Learn More
						a(href="#").ms-btn.ms-new-btn: span View Our Work

				.ms-wrap-img
					.ms-tablet-home
						span.ms-nebulosa(data-real-type="background", data-img="images/animaciones/animacion-pc/nebulosa-home.png")
						span.ms-pc(data-real-type="background", data-img="images/animaciones/animacion-pc/media-home.png")
						span.ms-logo-facebook(data-real-type="background", data-img="images/animaciones/animacion-pc/media-home.png")
						span.ms-logo-youtube(data-real-type="background", data-img="images/animaciones/animacion-pc/media-home.png")
						span.ms-logo-google(data-real-type="background", data-img="images/animaciones/animacion-pc/media-home.png")
						span.ms-logo-linkedin(data-real-type="background", data-img="images/animaciones/animacion-pc/media-home.png")
						span.ms-logo-instagram(data-real-type="background", data-img="images/animaciones/animacion-pc/media-home.png")

			//section.ms-section.ms-animate#ms-phone

			section.ms-section.ms-animate.ms-dft-section#dominate-nurturing
				article.ms-article
					h2.ms-bg-title Lead nurturing & automatic property alerts
					p A combination of touch-points designed to keep your customer engaged, informed and coming back. Your smart property alerts provide value that keeps the customer interested in your brand.
					.ms-wrap-btn
						button.ms-btn.ms-std-btn: span Request Demo
						a(href="#").ms-btn.ms-new-btn: span View Our Work

				.ms-phone
					span.ms-phone-a(data-real-type="background", data-img="images/animaciones/animacion-pc/phone.png")
					span.ms-phone-b(data-real-type="background", data-img="images/animaciones/animacion-pc/phone.png")
					span.ms-airplane(data-real-type="background", data-img="images/animaciones/animacion-pc/phone.png")

			section.ms-section.ms-animate#idxboost-agents
				h2.ms-bg-title What can IDXBoost do for you?
				p IDXBoost helps you bring your image to the digital era. 
					span See what is doing for some of our clients

				.ms-slider.ms-agent-slider
					.ms-item
						.ms-wrap-img
							img(data-real-type="image", data-img="images/new-home/07.png", alt="", src="images/temp.png").ms-lazy
						.ms-description
							p “We’ve been growing our sales 50% year-on-year for the past 3 years, thats is really diffcult to do, especially as a top producer.”
							h3.ms-item-title David Siddons
							span.ms-item-subtitle Top Producer Team - Douglas Elliman

					.ms-item
						.ms-wrap-img
							img(data-real-type="image", data-img="images/new-home/08.png", alt="", src="images/temp.png").ms-lazy
						.ms-description
							p “We almost tripled our website traffic, and incoming leads from our website. We are well beyond today’s benchmarks when it comes to digital”
							h3.ms-item-title Patrick Ryan
							span.ms-item-subtitle Related Realty Chicago

					.ms-item
						.ms-wrap-img
							img(data-real-type="image", data-img="images/new-home/08.png", alt="", src="images/temp.png").ms-lazy
						.ms-description
							p “We almost tripled our website traffic, and incoming leads from our website. We are well beyond today’s benchmarks when it comes to digital”
							h3.ms-item-title Patrick Ryan
							span.ms-item-subtitle Related Realty Chicago
			
			section#request-demo.ms-section.ms-loaded-animate
				section.ms-wrap-footer
					h2.ms-footer-title Request a Personalized Demo
					h3.ms-bt-title
							| Call us now at 
							a(href='tel:8885338736') (888) 533.8736 
					p Fill the form below and one of our prepresentatives will reach out to you
						span at your convenience to demonstrate our products and services.

					#gform_wrapper_3.gf_browser_chrome.gform_wrapper
						a#gf_3.gform_anchor
						form#gform_3(method='post', enctype='multipart/form-data', target='gform_ajax_frame_3', action='/dominate/#gf_3')
							.gform_body
								ul#gform_fields_3.gform_fields.top_label.form_sublabel_below.description_below
									li#field_3_2.gfield.gfield_contains_required.field_sublabel_below.field_description_below.gfield_visibility_visible
										label.gfield_label(for='input_3_2')
											| First Name
											span.gfield_required *
										.ginput_container.ginput_container_text
											input#input_3_2.medium(name='input_2', type='text', value='', tabindex='1', placeholder='First Name*', aria-required='true', aria-invalid='false', required='required')
									li#field_3_6.gfield.field_sublabel_below.field_description_below.gfield_visibility_visible
										label.gfield_label(for='input_3_6') Last Name
										.ginput_container.ginput_container_text
											input#input_3_6.medium(name='input_6', type='text', value='', tabindex='2', placeholder='Last Name', aria-invalid='false')
									li#field_3_9.gfield.gfield_contains_required.field_sublabel_below.field_description_below.gfield_visibility_visible
										label.gfield_label(for='input_3_9')
											| Phone
											span.gfield_required *
										.ginput_container.ginput_container_text
											input#input_3_9.medium(name='input_9', type='text', value='', tabindex='3', placeholder='Phone*', aria-required='true', aria-invalid='false', required='required')
									li#field_3_7.gfield.gfield_contains_required.field_sublabel_below.field_description_below.gfield_visibility_visible
										label.gfield_label(for='input_3_7')
											| Email
											span.gfield_required *
										.ginput_container.ginput_container_email
											input#input_3_7.medium(name='input_7', type='email', value='', tabindex='4', placeholder='Email*', aria-required='true', aria-invalid='false', required='required')
									//li#field_3_10.gfield.gform_validation_container.field_sublabel_below.field_description_below.gfield_visibility_
										label.gfield_label(for='input_3_10') Phone
										.ginput_container
										input#input_3_10(name='input_10', type='text', value='', autocomplete='off')
										.gfield_description This field is for validation purposes and should be left unchanged.
							.gform_footer.top_label
								input#gform_submit_button_3.gform_button.button(type='submit', value='Request Demo', tabindex='5', onclick='if(window["gf_submitting_3"]){return false;}  if( !jQuery("#gform_3")[0].checkValidity || jQuery("#gform_3")[0].checkValidity()){window["gf_submitting_3"]=true;}  ', onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_3"]){return false;} if( !jQuery("#gform_3")[0].checkValidity || jQuery("#gform_3")[0].checkValidity()){window["gf_submitting_3"]=true;}  jQuery("#gform_3").trigger("submit",[true]); }')
								input(type='hidden', name='gform_ajax', value='form_id=3&title=&description=&tabindex=1')
								input.gform_hidden(type='hidden', name='is_submit_3', value='1')
								input.gform_hidden(type='hidden', name='gform_submit', value='3')
								input.gform_hidden(type='hidden', name='gform_unique_id', value='')
								input.gform_hidden(type='hidden', name='state_3', value='WyJbXSIsImFhMGFmNjc1NjVjNDg2ZTY1NDQ2YjZhZjFjYWI2ZGM3Il0=')
								input#gform_target_page_number_3.gform_hidden(type='hidden', name='gform_target_page_number_3', value='0')
								input#gform_source_page_number_3.gform_hidden(type='hidden', name='gform_source_page_number_3', value='1')
								input(type='hidden', name='gform_field_values', value='')
					
					.ms-bottom-footer
						label Add me to IDXBoost’s newsletter and receive offers and market updates.
				img.ms-layer.ms-loaded(src='https://www.tremgroup.com/wp-content/themes/tremgroup/project/images/dominate/img_word.png', data-real-type='image')


		footer#footer
			.idx-footer-top
				.idx-info-company
					a(href="/", title="idxBoost").logo
						img(src="images/logo-footer.png")
					ul
						li
							span Support Available
							span.idx-text-light from 9am - 5pm EST
							span.idx-text-light Monday - Friday
						li
							span Headquarters
							span.idx-text-light 2828 Coral Way #435
							span.idx-text-light Miami, FL 33145
				.idx-item-menu-footer
					h2 IDX Products
					ul
						li: a(href="#", title="Download IDX Rush") Download IDX Rush
						li: a(href="#", title="Websites with IDX Rush") Websites with IDX Rush
						li: a(href="#", title="Live Demos") Live Demos
						li: a(href="#", title="MLS Coverage") MLS Coverage
				.idx-item-menu-footer
					h2 Company
					ul
						li 
							a(href="#", title="About Us") About Us
							a(href="#", title="About Us").idx-bg-special We're Hiring
						li: a(href="#", title="Partnership Program") Partnership Program
						li: a(href="#", title="Affiliate Brokers") Affiliate Brokers
						li: a(href="#", title="Blog") Blog
						li: a(href="#", title="Contact Us") Contact Us
						li: a(href="#", title="Support") Support
				.idx-social-media
					h2 Follow Us
					ul
						li: a(href="#", title="Facebook").icon-facebook: span Facebook 
						li: a(href="#", title="Twitter").icon-twitter: span Twitter
						li: a(href="#", title="Google Plus").icon-google: span Google Plus
						li: a(href="#", title="Youtube").icon-youtube: span Youtube
						li: a(href="#", title="Instagram").icon-instagram: span Instagram
						li: a(href="#", title="Linkedin").icon-linkedin: span Linkedin
						li: a(href="#", title="Pinterest").icon-pinterest: span Pinterest
			
			.idx-footer-bottom
				ul
					li: a(href="#", title="Terms & Conditions") Terms & Conditions
					li: a(href="#", title="Privacy Policy") Privacy Policy
					li: a(href="#", title="Sitemap") Sitemap
					li.idx-pc-show: a(href="#", title="IDX Terms") IDX Terms
				p All rights reserved © Copyright 2017 IDX Boost™
		
		.r-overlay

		script(type="text/javascript", src="js/jquery-3.1.1.min.js")
		script(type="text/javascript", src="js/jquery-ui.min.js")
		script(type="text/javascript", src="js/dgt-project-master.js")
		script(type="text/javascript", src="js/greatslider.jquery.min.js")
		script(type="text/javascript", src="js/main.min.js")