doctype html
html(lang='en')
	head
		title FlexIdx | Welcome
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="#203965")
		meta(name="theme-color", content="#203965")
		meta(name="msapplication-navbutton-color", content="#203965")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="css/animate.min.css")

		link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800&display=swap",rel="stylesheet")

	body.ms-new-theme
		main.idx-wrap-content
			header#header.active
				.idx-content-header
					.idx-wrap-logo
						a.logo(href='/', title='idxBoost')
							img(alt='idxBoost', src='images/new-home/logo.png', title='idxBoost')
						button#btn-responsive
							span
					#idx-wrap-responsive
						nav.idx-main-menu
							ul
								li.idx-item-sm
									a(href='javascript:void(0)', title='Real Estate Lead Generation') Real Estate Lead Generation
									ul.idx-sub-menu
										li
											a.idx-icon-pt.icon-dominate(href='/lead-generation/dominate') Dominate
										li
											a.idx-icon-pt.icon-generate(href='/lead-generation/generate') Generate
										li
											a.idx-icon-pt.icon-cproduct(href='/lead-generation') Compare Products
								li
									a(href='/real-estate-websites', title='Real Estate Websites') Real Estate Websites
								li
									a(href='#', title='CRM For Real Estate') CRM For Real Estate
								li
									a(href='/features', title='Features') Features
								li
									a(href='/support', title='Support') Support
								li.idx-item-sm
									a(href='javascript:void(0)', title='Live Demo') Live Demo
									ul.idx-sub-menu
										li
											a(href='https://demo.idxboost.com/', target='_blank') Basic
										li
											a(href='https://master.idxboost.com/', target='_blank') Advanced
								
								li.idx-btn-content.idx-right
									a.nb-button.idx-btn-site.icon-min-rocket(href='/schedule-demo')
										span Request Demo

								li.idx-right
									a(href='/login', title='Login')
										| Login
							
			section.ms-main.ms-animate#welcome
				h1.ms-title Next-Generation
					span Real Estate Websites
				span.ms-subtitle Branded real estate websites with integrated CRM,
					span IDX tools, and ready for marketing.

				.ms-wrap-btn
					button.ms-btn.btn-down-form(data-step="#request-demo"): span Request Demo
					button.ms-btn.btn-icon-play: span Watch Video

				.ms-wrap-img
					img(data-real-type="image", data-img="images/new-home/website.jpg", alt="", src="images/temp.png").ms-lazy

			section.ms-section.ms-animate.ms-website#real-estate-solution
				h2.ms-bg-title Websites for Real Estate Agents and Brokers

				p Our evolving wordpress IDX tools ensure that your are future-proof. Created to be able to progress along with technology innovations, our flexible platforms allow our users to update their software and benefit from the constant release of  new tools and updates. IDXBoost will be the last website you will ever need.

				.ms-wrap-img
					img(data-real-type="image", data-img="images/website/01.png", alt="", src="images/temp.png").ms-lazy

			section.ms-section.ms-animate.ms-website#branded-design
				article.ms-article
					h2.ms-bg-title “The Most Innovative” real estate landing page
					p This innovative new way to engage with potential real estate buyers and sellers places your business above the competition. Give your visitors a more friendly and personalized user experience.
					ul
						li Hyper-targeted Landing Pages
						li Advanced & Modern Interface
						li Integrated Video Marketing
					.ms-wrap-btn
						a(href="#").ms-btn.ms-std-btn: span Request Demo
				.ms-wrap-img
					img(data-real-type="image", data-img="images/website/03.png", alt="", src="images/temp.png").ms-lazy

			section.ms-section.ms-dg-bg.ms-animate#easy-to-use
				h2.ms-bg-title Modern & Easy-to-Use Real Estate CRM
				p Created for real estate professionals by marketing experts. IDXBoost’s powerful CRM 
					span brings all the tools you need to succeed and nurture your leads.

				.ms-wrap-img
					img(data-real-type="image", data-img="images/new-home/04.png", alt="", src="images/temp.png").ms-lazy
					//img(data-real-type="image", data-img="images/home/ms-layer.png", alt="", src="images/temp.png").ms-lazy

			section.ms-section.ms-animate.ms-website#ms-phone
				article.ms-article
					h2.ms-bg-title Condominium & community landing pages with inventory
					p Our innovative IDX tools go beyond the traditional MLS filter. It allows you to create beautiful landing pages for condos and gated communities with live inventory, amenties, lifestyle descriptions and more.
					ul
						li Create Pages For Condos and Commuties
						li MLS Inventory with Live Updates
						li Unique IDX Landing Page Tools

				.ms-wrap-img
					img(data-real-type="image", data-img="images/website/04.png", alt="", src="images/temp.png").ms-lazy

			section.ms-section.ms-dg-bg.ms-animate.ms-website#hyper-targeted
				h2.ms-bg-title Hyper-targeted Map Pages
				p Created for real estate professionals by marketing experts. IDXBoost’s powerful CRM 

				.ms-slider.ms-basic-slider
					.ms-item
						img(data-real-type="image", data-img="images/website/02.png", alt="", src="images/temp.png").ms-lazy
					.ms-item
						img(data-real-type="image", data-img="images/website/02.png", alt="", src="images/temp.png").ms-lazy
					.ms-item
						img(data-real-type="image", data-img="images/website/02.png", alt="", src="images/temp.png").ms-lazy

			section.ms-section.ms-animate.ms-website#market-domination
				article.ms-article
					h2.ms-bg-title The Last Website you’ll ever need!
					p Our tools allow you yo update your IDX Plugin from the backend and benefit from our contant release of new tools and updates.
					ul
						li Updatable IDX Plugin
						li Wordpress Plugin
						li Evolving IDX Technology
				.ms-wrap-img
					img(data-real-type="image", data-img="images/website/05.png", alt="", src="images/temp.png").ms-lazy

			section#request-demo.ms-section.ms-loaded-animate
				section.ms-wrap-footer
					h2.ms-footer-title Request a Personalized Demo
					h3.ms-bt-title
							| Call us now at 
							a(href='tel:8885338736') (888) 533.8736 
					p Fill the form below and one of our prepresentatives will reach out to you
						span at your convenience to demonstrate our products and services.

					#gform_wrapper_3.gf_browser_chrome.gform_wrapper
						a#gf_3.gform_anchor
						form#gform_3(method='post', enctype='multipart/form-data', target='gform_ajax_frame_3', action='/dominate/#gf_3')
							.gform_body
								ul#gform_fields_3.gform_fields.top_label.form_sublabel_below.description_below
									li#field_3_2.gfield.gfield_contains_required.field_sublabel_below.field_description_below.gfield_visibility_visible
										label.gfield_label(for='input_3_2')
											| First Name
											span.gfield_required *
										.ginput_container.ginput_container_text
											input#input_3_2.medium(name='input_2', type='text', value='', tabindex='1', placeholder='First Name*', aria-required='true', aria-invalid='false', required='required')
									li#field_3_6.gfield.field_sublabel_below.field_description_below.gfield_visibility_visible
										label.gfield_label(for='input_3_6') Last Name
										.ginput_container.ginput_container_text
											input#input_3_6.medium(name='input_6', type='text', value='', tabindex='2', placeholder='Last Name', aria-invalid='false')
									li#field_3_9.gfield.gfield_contains_required.field_sublabel_below.field_description_below.gfield_visibility_visible
										label.gfield_label(for='input_3_9')
											| Phone
											span.gfield_required *
										.ginput_container.ginput_container_text
											input#input_3_9.medium(name='input_9', type='text', value='', tabindex='3', placeholder='Phone*', aria-required='true', aria-invalid='false', required='required')
									li#field_3_7.gfield.gfield_contains_required.field_sublabel_below.field_description_below.gfield_visibility_visible
										label.gfield_label(for='input_3_7')
											| Email
											span.gfield_required *
										.ginput_container.ginput_container_email
											input#input_3_7.medium(name='input_7', type='email', value='', tabindex='4', placeholder='Email*', aria-required='true', aria-invalid='false', required='required')
									//li#field_3_10.gfield.gform_validation_container.field_sublabel_below.field_description_below.gfield_visibility_
										label.gfield_label(for='input_3_10') Phone
										.ginput_container
										input#input_3_10(name='input_10', type='text', value='', autocomplete='off')
										.gfield_description This field is for validation purposes and should be left unchanged.
							.gform_footer.top_label
								input#gform_submit_button_3.gform_button.button(type='submit', value='Request Demo', tabindex='5', onclick='if(window["gf_submitting_3"]){return false;}  if( !jQuery("#gform_3")[0].checkValidity || jQuery("#gform_3")[0].checkValidity()){window["gf_submitting_3"]=true;}  ', onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_3"]){return false;} if( !jQuery("#gform_3")[0].checkValidity || jQuery("#gform_3")[0].checkValidity()){window["gf_submitting_3"]=true;}  jQuery("#gform_3").trigger("submit",[true]); }')
								input(type='hidden', name='gform_ajax', value='form_id=3&title=&description=&tabindex=1')
								input.gform_hidden(type='hidden', name='is_submit_3', value='1')
								input.gform_hidden(type='hidden', name='gform_submit', value='3')
								input.gform_hidden(type='hidden', name='gform_unique_id', value='')
								input.gform_hidden(type='hidden', name='state_3', value='WyJbXSIsImFhMGFmNjc1NjVjNDg2ZTY1NDQ2YjZhZjFjYWI2ZGM3Il0=')
								input#gform_target_page_number_3.gform_hidden(type='hidden', name='gform_target_page_number_3', value='0')
								input#gform_source_page_number_3.gform_hidden(type='hidden', name='gform_source_page_number_3', value='1')
								input(type='hidden', name='gform_field_values', value='')
					
					.ms-bottom-footer
						label Add me to IDXBoost’s newsletter and receive offers and market updates.
				img.ms-layer.ms-loaded(src='https://www.tremgroup.com/wp-content/themes/tremgroup/project/images/dominate/img_word.png', data-real-type='image')


		footer#footer
			.idx-footer-top
				.idx-info-company
					a(href="/", title="idxBoost").logo
						img(src="images/logo-footer.png")
					ul
						li
							span Support Available
							span.idx-text-light from 9am - 5pm EST
							span.idx-text-light Monday - Friday
						li
							span Headquarters
							span.idx-text-light 2828 Coral Way #435
							span.idx-text-light Miami, FL 33145
				.idx-item-menu-footer
					h2 IDX Products
					ul
						li: a(href="#", title="Download IDX Rush") Download IDX Rush
						li: a(href="#", title="Websites with IDX Rush") Websites with IDX Rush
						li: a(href="#", title="Live Demos") Live Demos
						li: a(href="#", title="MLS Coverage") MLS Coverage
				.idx-item-menu-footer
					h2 Company
					ul
						li 
							a(href="#", title="About Us") About Us
							a(href="#", title="About Us").idx-bg-special We're Hiring
						li: a(href="#", title="Partnership Program") Partnership Program
						li: a(href="#", title="Affiliate Brokers") Affiliate Brokers
						li: a(href="#", title="Blog") Blog
						li: a(href="#", title="Contact Us") Contact Us
						li: a(href="#", title="Support") Support
				.idx-social-media
					h2 Follow Us
					ul
						li: a(href="#", title="Facebook").icon-facebook: span Facebook 
						li: a(href="#", title="Twitter").icon-twitter: span Twitter
						li: a(href="#", title="Google Plus").icon-google: span Google Plus
						li: a(href="#", title="Youtube").icon-youtube: span Youtube
						li: a(href="#", title="Instagram").icon-instagram: span Instagram
						li: a(href="#", title="Linkedin").icon-linkedin: span Linkedin
						li: a(href="#", title="Pinterest").icon-pinterest: span Pinterest
			
			.idx-footer-bottom
				ul
					li: a(href="#", title="Terms & Conditions") Terms & Conditions
					li: a(href="#", title="Privacy Policy") Privacy Policy
					li: a(href="#", title="Sitemap") Sitemap
					li.idx-pc-show: a(href="#", title="IDX Terms") IDX Terms
				p All rights reserved © Copyright 2017 IDX Boost™
		
		.r-overlay

		script(type="text/javascript", src="js/jquery-3.1.1.min.js")
		script(type="text/javascript", src="js/jquery-ui.min.js")
		script(type="text/javascript", src="js/dgt-project-master.js")
		script(type="text/javascript", src="js/greatslider.jquery.min.js")
		script(type="text/javascript", src="js/main.min.js")