doctype html
html(lang='en')
  head
    title FlexIdx | Welcome
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="#203965")
    meta(name="theme-color", content="#203965")
    meta(name="msapplication-navbutton-color", content="#203965")
    link(rel="stylesheet", href="../css/main.css")

  body
    main.wrap-idx-content
      header#header
        .idx-content-header
          .idx-wrap-logo
            a(href="/", title="idxBoost").logo
              img(src="../images/logo.png", title="idxBoost", alt="idxBoost")
            button#btn-responsive: span
          #idx-wrap-responsive
            nav.idx-top-nav
              ul
                li: a(href="tel:8778758745", title="(877) 875-8745") (877) 875-8745
                li: a(href="#", title="News") News
                li: a(href="#", title="Support") Support
                li: a(href="#", title="Login") Login
                li: a(href="#", title="Register") Register
            nav.idx-main-menu
              ul
                li: a(href="#", title="Wordpress IDX Features") Wordpress IDX Features
                li: a(href="#", title="FREE IDX Websites") FREE IDX Websites
                li: a(href="#", title="Partners") Partners
                li: a(href="#", title="Live Demo") Live Demo
                li.idx-btn-content
                  button.idx-btn-site
                    span Start Now
      .r-overlay
      section.idx-site-content
        h1.idx-title Your Contact Information

        form(action="wizard_affiliate_8.html", method="post").idx-form.idx-form-contact-information
          ul
            li
              label Email displayed on website 
                span (leads will be send here)
              input(type="email", name="", id="")
            li
              label Phone displayed on website
              input(type="text", name="", id="")
            li
              label Office Address
              input(type="text", name="", id="")
            li.idx-city
              label City
              input(type="email", name="", id="")
            li.idx-state
              label State
              .idx-content-select
                select
                  option(value="1") FL
                  option(value="2") LF
            li.idx-zip
              label Zip
              input(type="text", name="", id="")
            li.icon-facebook.idx-social
              label Facebook.com/
              input(type="text", name="", id="")
            li.icon-twitter.idx-social
              label Twitter.com/
              input(type="text", name="", id="")
            li.icon-google.idx-social
              label Googleplus.com/
              input(type="text", name="", id="")
            li.icon-instagram.idx-social
              label Instagram.com/
              input(type="text", name="", id="")
            li.icon-linkedin.idx-social
              label Linkedin.com/
              input(type="text", name="", id="")
            li.icon-youtube.idx-social
              label Youtube.com/
              input(type="text", name="", id="")

          .idx-box-btn
            button.idx-btn-site.icon-arrow
              span Continue
            a(href="wizard_affiliate_5.html", title="Back").idx-link-back.icon-arrow Back
      footer#footer.idx-internal-footer
        .idx-footer-top
          .idx-info-company
            a(href="/", title="idxBoost").logo
              img(src="../images/logo-footer.png")
            ul
              li 
                span Phone 
                a(href="tel:18003055000", title="1-800-305-5000") 1-800-305-5000
              li
                span Support Available
                span.idx-text-light from 9am - 5pm EST
                span.idx-text-light Monday - Friday
              li
                span Headquarters
                span.idx-text-light 2828 Coral Way #435
                span.idx-text-light Miami, FL 33145
          .idx-item-menu-footer
            h2 IDX Products
            ul
              li: a(href="#", title="Download IDX Rush") Download IDX Rush
              li: a(href="#", title="Websites with IDX Rush") Websites with IDX Rush
              li: a(href="#", title="Live Demos") Live Demos
              li: a(href="#", title="MLS Coverage") MLS Coverage
          .idx-item-menu-footer
            h2 Services
            ul
              li: a(href="#", title="About Us") About Us
              li: a(href="#", title="Partnership Program") Partnership Program
              li: a(href="#", title="Affiliate Brokers") Affiliate Brokers
              li: a(href="#", title="Blog") Blog
              li: a(href="#", title="Contact Us") Contact Us
              li: a(href="#", title="Support") Support
          .idx-social-media
            h2 Follow Us
            ul
              li: a(href="#", title="Facebook").icon-facebook: span Facebook 
              li: a(href="#", title="Twitter").icon-twitter: span Twitter
              li: a(href="#", title="Google Plus").icon-google: span Google Plus
              li: a(href="#", title="Youtube").icon-youtube: span Youtube
              li: a(href="#", title="Instagram").icon-instagram: span Instagram
              li: a(href="#", title="Linkedin").icon-linkedin: span Linkedin
              li: a(href="#", title="Pinterest").icon-pinterest: span Pinterest
        
        .idx-footer-bottom
          ul
            li: a(href="#", title="Terms & Conditions") Terms & Conditions
            li: a(href="#", title="Privacy Policy") Privacy Policy
            li: a(href="#", title="Sitemap") Sitemap
            li.idx-pc-show: a(href="#", title="IDX Terms") IDX Terms
          p All rights reserved © Copyright 2017 IDX Boost™
    script(type="text/javascript", src="../js/jquery-3.1.1.min.js")
    script(type="text/javascript", src="../js/jquery-ui.min.js")
    script(type="text/javascript", src="../js/dgt-project-master.js")