.login-page {
  overflow: hidden; }

.flex-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }
  .flex-content h1 {
    overflow: hidden;
    height: 0;
    width: 0;
    font-size: 1px; }

.logo-idx {
  width: 90%;
  max-width: 340px;
  position: relative;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px; }
  .logo-idx img {
    width: 100%; }

#login-content {
  position: relative;
  width: 100%; }
  @media screen and (min-width: 1024px) {
    #login-content {
      max-width: 410px; } }
  @media screen and (min-width: 1280px) {
    #login-content {
      max-width: 520px; } }
  @media screen and (min-width: 1600px) {
    #login-content {
      max-width: 660px; } }
  #login-content .content-site {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    padding: 40px 0; }
    @media screen and (min-width: 768px) {
      #login-content .content-site {
        padding: 70px 0; } }
    @media screen and (min-width: 1600px) {
      #login-content .content-site {
        padding: 120px 0; } }
  #login-content .content-login {
    width: 92%;
    max-width: 340px;
    position: realtive;
    margin: 0 auto; }
    #login-content .content-login h2 {
      color: #797979;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px; }
      @media screen and (min-width: 768px) {
        #login-content .content-login h2 {
          font-size: 26px; } }
    #login-content .content-login .input-form {
      width: 100%;
      margin-bottom: 5px;
      position: relative; }
      #login-content .content-login .input-form input {
        width: 100%;
        height: 42px;
        border-radius: 4px;
        border: 2px solid #c7c7c7;
        font-size: 14px;
        padding: 0 15px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
        #login-content .content-login .input-form input:focus, #login-content .content-login .input-form input:active {
          border-color: #0072ac; }
        #login-content .content-login .input-form input[type="password"] {
          padding-right: 35px; }
      #login-content .content-login .input-form button {
        height: 40px;
        border-radius: 4px;
        background: -webkit-gradient(linear, left top, right top, from(#fa6630), to(#be155e));
        background: -webkit-linear-gradient(left, #fa6630, #be155e);
        background: -o-linear-gradient(left, #fa6630, #be155e);
        background: linear-gradient(to right, #fa6630, #be155e);
        padding: 0;
        width: 100%;
        color: #FFF;
        font-weight: 600;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        margin-top: 5px; }
        #login-content .content-login .input-form button span {
          width: 100%;
          height: 100%;
          color: #FFF;
          font-size: 18px; }
        #login-content .content-login .input-form button:hover {
          background: #333; }
        @media screen and (min-width: 768px) {
          #login-content .content-login .input-form button {
            height: 45px; }
            #login-content .content-login .input-form button span {
              font-size: 14px; } }
      #login-content .content-login .input-form label {
        font-size: 14px;
        color: #3b3b3b;
        display: inline-block;
        margin: 3px 0; }
        @media screen and (min-width: 768px) {
          #login-content .content-login .input-form label {
            margin: 10px 0; } }
      #login-content .content-login .input-form.add-options a {
        position: relative;
        text-decoration: underline; }
        #login-content .content-login .input-form.add-options a:nth-child(1) {
          padding-right: 10px;
          margin-right: 10px; }
          #login-content .content-login .input-form.add-options a:nth-child(1):after {
            content: "";
            display: inline-block;
            width: 1px;
            height: 10px;
            background-color: #0072ac;
            position: absolute;
            right: -1px;
            top: 5px; }
      #login-content .content-login .input-form .chk_content {
        font-weight: 600; }
      #login-content .content-login .input-form.text-center {
        text-align: left; }
  #login-content .footer {
    font-size: 12px;
    color: #a0a0a0;
    width: 92%;
    max-width: 340px;
    position: realtive;
    margin: 0 auto; }
    #login-content .footer a {
      font-size: 12px;
      color: #a0a0a0;
      text-decoration: underline; }

.img-content {
  position: relative;
  display: none;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  @media screen and (min-width: 1024px) {
    .img-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .img-content img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

#showpassord {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px !important;
  height: 42px !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent !important;
  font-weight: normal !important;
  color: #be155e !important;
  border: none !important;
  cursor: pointer;
  padding: 0 !important;
  margin: 0 !important; }
  #showpassord.show-eye:before {
    content: "\e9d1"; }

.input-form.add-options.text-center {
  text-align: center; }
