/*colores*/
$colorweb: #0273ad;
$colorhover: #434343;
$colortext: #434343;
/*Colores de boton*/
$btncolor: #8cc739;
$btnhover: #333;

/*fuentes*/
$clash: 'CaflischScript';
$nexa : 'Nexa Slab';
$OpenSans : 'Open Sans', sans-serif;
$fontSite : $OpenSans;
$icons : 'properties-icons';