.ms-express-page {
  margin: 0 auto;
  position: relative;
  padding: 30px 0;
  padding-top: 70px; }
  .ms-express-page strong {
    font-weight: 600; }
  .ms-express-page .ms-nav-section {
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
    background-color: #FFF;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    z-index: 3;
    top: 55px;
    height: 48px;
    text-align: center; }
    .ms-express-page .ms-nav-section nav {
      position: relative;
      width: 100%;
      max-width: 1140px;
      height: 58px;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      margin: 0 auto; }
      .ms-express-page .ms-nav-section nav ul {
        white-space: nowrap; }
        .ms-express-page .ms-nav-section nav ul li {
          background: -webkit-gradient(linear, left top, right top, from(#fa6630), to(#be155e));
          background: -webkit-linear-gradient(left, #fa6630, #be155e);
          background: -o-linear-gradient(left, #fa6630, #be155e);
          background: linear-gradient(to right, #fa6630, #be155e);
          border: 1px solid #cccccc;
          display: inline-block;
          position: relative; }
          .ms-express-page .ms-nav-section nav ul li .ms-item-btn {
            height: 45px;
            line-height: 45px;
            padding: 0 15px;
            font-size: 14px;
            width: 100%;
            color: #a7a7a7;
            background-color: #FFF;
            -webkit-transition: all .4s;
            -o-transition: all .4s;
            transition: all .4s; }
            .ms-express-page .ms-nav-section nav ul li .ms-item-btn span {
              font-family: "Montserrat", sans-serif !important;
              font-weight: 800;
              color: #c8c8c8;
              display: inline-block;
              vertical-align: middle;
              margin-right: 10px;
              font-size: 20px; }
            .ms-express-page .ms-nav-section nav ul li .ms-item-btn:hover, .ms-express-page .ms-nav-section nav ul li .ms-item-btn.active {
              background-color: transparent;
              color: #FFF; }
              .ms-express-page .ms-nav-section nav ul li .ms-item-btn:hover span, .ms-express-page .ms-nav-section nav ul li .ms-item-btn.active span {
                color: #FFF; }
  .ms-express-page .ms-main-express {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 15px 0; }
    .ms-express-page .ms-main-express .ms-title {
      font-family: "Montserrat", sans-serif !important;
      font-weight: bold;
      font-size: 20px;
      font-size: 1.25rem;
      margin: 15px 0; }
      .ms-express-page .ms-main-express .ms-title span {
        background-image: -webkit-gradient(linear, left top, right top, from(#fa6630), to(#af0e66));
        background-image: -webkit-linear-gradient(left, #fa6630, #af0e66);
        background-image: -o-linear-gradient(left, #fa6630, #af0e66);
        background-image: linear-gradient(to right, #fa6630, #af0e66);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        display: block; }
    .ms-express-page .ms-main-express p {
      font-size: 15px;
      font-size: 0.9375rem;
      color: #191919;
      line-height: 1.6; }
    .ms-express-page .ms-main-express .ms-express-logo {
      margin: 0 auto;
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      max-width: 180px; }

.ms-express-section {
  margin-bottom: 30px; }
  .ms-express-section .ms-title {
    background-image: -webkit-gradient(linear, left top, right top, from(#fa6630), to(#af0e66));
    background-image: -webkit-linear-gradient(left, #fa6630, #af0e66);
    background-image: -o-linear-gradient(left, #fa6630, #af0e66);
    background-image: linear-gradient(to right, #fa6630, #af0e66);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    overflow: hidden;
    position: relative;
    line-height: 1;
    padding: 0 15px 0 65px;
    padding-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 50px; }
    .ms-express-section .ms-title span {
      background-image: -webkit-gradient(linear, left top, right top, from(#fa6630), to(#af0e66));
      background-image: -webkit-linear-gradient(left, #fa6630, #af0e66);
      background-image: -o-linear-gradient(left, #fa6630, #af0e66);
      background-image: linear-gradient(to right, #fa6630, #af0e66);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
      font-weight: 900;
      font-size: 70px;
      position: absolute;
      bottom: -14px;
      left: 15px; }
    .ms-express-section .ms-title:after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #d7d7d7;
      position: absolute;
      bottom: 0;
      left: 0; }
  .ms-express-section .ms-wrap-item {
    width: calc(100% - 30px);
    margin: 0 auto;
    padding: 30px 0 0; }
    .ms-express-section .ms-wrap-item .ms-wrap-img {
      position: relative;
      width: 100%;
      background-color: #333; }
      .ms-express-section .ms-wrap-item .ms-wrap-img:after {
        content: "";
        display: block;
        padding-bottom: 56.25%; }
      .ms-express-section .ms-wrap-item .ms-wrap-img .ms-title-img {
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: #FFF;
        font-size: 13px;
        line-height: 1.4;
        z-index: 2; }
        .ms-express-section .ms-wrap-item .ms-wrap-img .ms-title-img span {
          display: block;
          font-weight: 600;
          font-size: 15px; }
        .ms-express-section .ms-wrap-item .ms-wrap-img .ms-title-img strong {
          font-weight: 600; }
      .ms-express-section .ms-wrap-item .ms-wrap-img img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: top;
        object-position: top; }
  .ms-express-section .ms-play {
    text-indent: -999999px;
    width: 60px;
    height: 60px;
    border-width: 2px;
    margin-top: -45px;
    z-index: 2; }
    .ms-express-section .ms-play:before {
      content: "";
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-left: 15px solid #dc4346;
      border-bottom: 10px solid transparent;
      margin-right: -5px;
      position: absolute;
      top: 19px;
      left: 22px; }
    .ms-express-section .ms-play:hover {
      border-color: #FFF;
      background-color: #FFF; }
  .ms-express-section .ms-wrap-form p {
    font-size: 15px;
    margin: 15px 0;
    line-height: 1.4;
    width: 100%; }
    .ms-express-section .ms-wrap-form p strong {
      font-weight: 600; }
  .ms-express-section .ms-wrap-form .ms-form-input {
    width: 100%;
    margin-bottom: 10px; }
    .ms-express-section .ms-wrap-form .ms-form-input textarea,
    .ms-express-section .ms-wrap-form .ms-form-input input[type="text"],
    .ms-express-section .ms-wrap-form .ms-form-input input[type="email"],
    .ms-express-section .ms-wrap-form .ms-form-input input[type="password"] {
      width: 100%;
      padding: 0 15px;
      min-height: 45px;
      border-radius: 4px;
      border: 1px solid #d6d6d7; }
    .ms-express-section .ms-wrap-form .ms-form-input .ms-item {
      margin-bottom: 10px; }
      .ms-express-section .ms-wrap-form .ms-form-input .ms-item:nth-last-child() {
        margin-bottom: 0; }
    .ms-express-section .ms-wrap-form .ms-form-input.ms-full a {
      text-decoration: underline; }
  .ms-express-section .ms-wrap-btn {
    width: 100%; }
    .ms-express-section .ms-wrap-btn .ms-btn {
      width: 100%; }
      .ms-express-section .ms-wrap-btn .ms-btn span {
        padding: 0 15px; }
        .ms-express-section .ms-wrap-btn .ms-btn span:after {
          display: none; }
      .ms-express-section .ms-wrap-btn .ms-btn.ms-payment-btn span {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }
        .ms-express-section .ms-wrap-btn .ms-btn.ms-payment-btn span:after {
          content: "\e912";
          font-family: 'icons';
          display: inline-block;
          color: #FFF;
          font-size: 18px;
          position: relative;
          background-image: none;
          width: auto;
          height: auto;
          font-weight: normal;
          margin-right: 10px;
          margin-top: -8px; }
  .ms-express-section .ms-wrap-textarea {
    width: 90%;
    margin: 30px auto;
    height: 250px;
    border: 1px solid #d6d6d7;
    padding: 15px;
    overflow: hidden;
    overflow-y: auto; }
    .ms-express-section .ms-wrap-textarea p, .ms-express-section .ms-wrap-textarea ul, .ms-express-section .ms-wrap-textarea ol {
      line-height: 1.6;
      margin-bottom: 30px;
      font-size: 15px;
      font-size: 0.9375rem; }
    .ms-express-section .ms-wrap-textarea::-webkit-scrollbar-track {
      border: 0 solid #000;
      background-color: rgba(0, 0, 0, 0.1); }
    .ms-express-section .ms-wrap-textarea::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.15);
      background-image: -webkit-gradient(linear, left top, right top, from(#fa6630), to(#af0e66));
      background-image: -webkit-linear-gradient(left, #fa6630, #af0e66);
      background-image: linear-gradient(to right, #fa6630, #af0e66); }
    .ms-express-section .ms-wrap-textarea::-webkit-scrollbar {
      width: 15px; }
  .ms-express-section .ms-price-info {
    display: inline-block;
    position: relative;
    margin-bottom: -10px; }
    .ms-express-section .ms-price-info .ms-price-text {
      font-size: 45px;
      font-weight: 700;
      background-image: -webkit-gradient(linear, left top, right top, from(#fa6630), to(#af0e66));
      background-image: -webkit-linear-gradient(left, #fa6630, #af0e66);
      background-image: -o-linear-gradient(left, #fa6630, #af0e66);
      background-image: linear-gradient(to right, #fa6630, #af0e66);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
      position: relative;
      top: 0;
      right: auto;
      padding-right: 50px; }
    .ms-express-section .ms-price-info span {
      background-image: none;
      color: #333;
      position: absolute;
      top: 12px;
      right: 0;
      line-height: 1.2;
      font-size: 12px; }
      .ms-express-section .ms-price-info span span {
        font-weight: 600;
        display: block;
        position: relative;
        top: 0;
        right: 0; }
  .ms-express-section .ms-info-payment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 15px 0; }
    .ms-express-section .ms-info-payment p {
      width: auto;
      margin: 0;
      margin-right: 10px; }
  .ms-express-section .ms-cd-input {
    position: relative; }
    .ms-express-section .ms-cd-input:after {
      content: "";
      display: inline-block;
      background-image: url(../images/credit-cards-2.png);
      width: 135px;
      height: 45px;
      position: absolute;
      top: 0;
      right: 0;
      background-repeat: no-repeat;
      background-position: center;
      padding-right: 17px; }
    .ms-express-section .ms-cd-input input {
      padding-right: 150px; }
  .ms-express-section .ms-playment-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 15px; }
    .ms-express-section .ms-playment-info .ms-wp-msg {
      font-weight: 600;
      margin-top: 15px;
      margin-bottom: 5px;
      position: relative;
      padding-right: 25px;
      display: inline-block;
      font-size: 15px; }
      .ms-express-section .ms-playment-info .ms-wp-msg .ms-bubble-info {
        bottom: 3px;
        right: 0; }
    .ms-express-section .ms-playment-info a {
      color: #196bb2;
      margin: 5px 0; }
      .ms-express-section .ms-playment-info a:hover {
        text-decoration: underline; }
    .ms-express-section .ms-playment-info ul {
      display: table; }
      .ms-express-section .ms-playment-info ul li {
        display: table-row; }
        .ms-express-section .ms-playment-info ul li span,
        .ms-express-section .ms-playment-info ul li strong {
          display: table-cell; }
        .ms-express-section .ms-playment-info ul li strong {
          padding-right: 15px;
          font-weight: 600; }

#ms-ex-step-3 .ms-wrap-btn {
  width: 90%;
  margin: 0 auto; }
  #ms-ex-step-3 .ms-wrap-btn .ms-wrap-chk input {
    display: none; }
  #ms-ex-step-3 .ms-wrap-btn .ms-wrap-chk label {
    display: block;
    padding-left: 30px;
    margin: 5px 0;
    position: relative;
    cursor: pointer; }
    #ms-ex-step-3 .ms-wrap-btn .ms-wrap-chk label:before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 2px;
      border: 1px solid #ccc; }
    #ms-ex-step-3 .ms-wrap-btn .ms-wrap-chk label:after {
      content: "\e928";
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 17px;
      height: 17px;
      top: 0;
      left: 0;
      font-family: 'icons';
      font-size: 12px;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      opacity: 0; }
  #ms-ex-step-3 .ms-wrap-btn .ms-wrap-chk input:checked ~ label:after {
    opacity: 1; }

.ms-wp-msg {
  position: relative; }

.ms-bubble-info {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  bottom: 13px;
  right: 10px;
  border-radius: 100%;
  font-size: 11px;
  cursor: pointer;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }
  .ms-bubble-info span {
    margin: 0; }
  .ms-bubble-info .ms-message {
    position: absolute;
    bottom: calc(100% + 20px);
    width: 180px;
    font-size: 12px;
    padding: 10px;
    right: -10px;
    color: #fff;
    margin: 0;
    background: -webkit-gradient(linear, left top, right top, from(#fa6630), to(#be155e));
    background: -webkit-linear-gradient(left, #fa6630, #be155e);
    background: -o-linear-gradient(left, #fa6630, #be155e);
    background: linear-gradient(to right, #fa6630, #be155e);
    opacity: 0;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    display: none; }
    .ms-bubble-info .ms-message:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 10px solid #c0175c;
      border-left: 10px solid transparent;
      position: absolute;
      bottom: -10px;
      right: 15px; }
  .ms-bubble-info:hover {
    background-color: #333;
    color: #FFF; }
    .ms-bubble-info:hover .ms-message {
      bottom: calc(100% + 9px);
      opacity: 1;
      display: block; }

@media screen and (min-width: 991px) {
  .ms-express-page .ms-nav-section {
    top: 70px; }
    .ms-express-page .ms-nav-section nav ul li {
      width: 19.66%; }
  .ms-express-page .ms-main-express {
    margin-top: 40px; }
  .ms-express-section {
    max-width: 1224px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px; }
    .ms-express-section .ms-wrap-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .ms-express-section .ms-wrap-item .ms-wrap-img {
        width: 41.66%; }
      .ms-express-section .ms-wrap-item .ms-wrap-form {
        width: 53% !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .ms-express-section .ms-wrap-item .ms-wrap-form > p,
        .ms-express-section .ms-wrap-item .ms-wrap-form .ms-info-payment {
          margin-top: 0; }
        .ms-express-section .ms-wrap-item .ms-wrap-form .ms-form-input {
          width: 49%; }
          .ms-express-section .ms-wrap-item .ms-wrap-form .ms-form-input.ms-item-full {
            width: 100%; }
          .ms-express-section .ms-wrap-item .ms-wrap-form .ms-form-input.ms-cd-input {
            width: 78%; }
          .ms-express-section .ms-wrap-item .ms-wrap-form .ms-form-input.ms-ccv-input {
            width: 20%; }
          .ms-express-section .ms-wrap-item .ms-wrap-form .ms-form-input.ms-address-input {
            width: 73%; }
          .ms-express-section .ms-wrap-item .ms-wrap-form .ms-form-input.ms-address-small-input {
            width: 25%; }
          .ms-express-section .ms-wrap-item .ms-wrap-form .ms-form-input.ms-flex {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between; }
            .ms-express-section .ms-wrap-item .ms-wrap-form .ms-form-input.ms-flex .ms-item {
              width: 32%; }
    .ms-express-section .ms-wrap-btn .ms-btn {
      width: auto; }
    .ms-express-section .ms-price-info .ms-price-text {
      font-size: 60px;
      line-height: 1; }
  #ms-ex-step-1 .ms-wrap-btn {
    margin-top: 30px; }
  #ms-ex-step-2 .ms-wrap-form .ms-form-input p {
    margin: 0; }
  #ms-ex-step-3 .ms-wrap-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

@media screen and (min-width: 1200px) {
  .ms-express-section .ms-wrap-textarea {
    height: 354px; }
  .ms-express-section .ms-title {
    font-size: 30px;
    height: 85px;
    padding: 0 15px 0 85px; }
    .ms-express-section .ms-title span {
      font-size: 130px;
      bottom: -31px; }
  .ms-express-page {
    padding-top: 81px; }
    .ms-express-page .ms-nav-section {
      top: 80px; }
    .ms-express-page .ms-main-express .ms-title {
      font-size: 37px;
      font-size: 2.3125rem; }
  #ms-ex-step-2 .ms-title,
  #ms-ex-step-3 .ms-title,
  #ms-ex-step-5 .ms-title {
    padding-left: 110px; }
  #ms-ex-step-4 .ms-title {
    padding-left: 130px; } }

@media screen and (min-width: 1440px) {
  #ms-ex-step-3 .ms-wrap-btn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative; }
    #ms-ex-step-3 .ms-wrap-btn .ms-accept-terms {
      width: 350px;
      position: absolute;
      left: 0;
      top: -5px; } }
